body
{
    overflow: hidden;
   
 
}
.picture {
    display: flex;
    justify-content: center;  /* Centers the image horizontally */
    align-items: center;      /* Centers the image vertically */
    height: 100vh;            /* Makes the div take the full height of the viewport */
  }
  img {
    max-width: 100%;  /* Optional: prevents the image from overflowing */
    height: auto; 
    width: 45vw;    /* Keeps the aspect ratio of the image */
    animation: mover 3s infinite;
  }
  .home:hover
  {
scale: 1.1;
  }
  .gal:hover
  {
scale: 1.1;
  }
  @keyframes mover
  {
100%
{
    transform: rotate(1deg);
}
25%
{
    transform: rotate(2deg);
}
0%
{
    transform: rotate(30deg);
}
  }
  
  